<div>
  {{if (eq (.Context.Request.URL.Query.Get "sorting") "true")}}
    <a class="btn" href="{{patch_current_url "sorting" ""}}">{{t "qor_admin.actions.exit_sorting_mode" "Exit Sorting Mode"}}</a>
  {{else}}
    <a class="btn" href="{{patch_current_url "sorting" "true"}}">{{t "qor_admin.actions.sorting_mode" "Sorting Mode"}}</a>
  {{end}}
</div>
